*.zip
*.ogg
Vision_Notebook.ipynb
**/data/ESC-US
**/info_files
**Models/__pycache__/
**Preprocessing/__pycache__/
AE/cartoonset10k.tgz
AE/cartoonset100k.tgz
**AE/cartoonset100k
**/data/ESC-US-converted

