*.zip
*.ogg
**/Data/ESC-US
**/info_files
**Models/__pycache__/
**Preprocessing/__pycache__/
AE/cartoonset10k.tgz
AE/cartoonset100k.tgz
**AE/cartoonset100k
**/data/ESC-US-converted
Cached_Datasets/*
Saved_Datasets/
Saved_Models/
main_notebook_pre_cross_validation.ipynb
history_supervised.json
vscode/*
__pycache__/*
.DS_Store
Visualization/__pycache__