*.zip
*.ogg
**/Data/ESC-US
**/info_files
**Models/__pycache__/
**Preprocessing/__pycache__/
AE/cartoonset10k.tgz
AE/cartoonset100k.tgz
**AE/cartoonset100k
Data/
Cached_Datasets/*
Saved_Datasets/

history_supervised.json
vscode/*
__pycache__/*
.DS_Store
Visualization/__pycache__

Saved_Datasets_Leo/
Saved_Models/Dense_AE_ffnn/
Dense_AE_ffnn/
